<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>Book New Appointment</title>
</head>

<body>
  <%- include('../partials/_navbar.ejs') %>
  <main class="container">
    <h1>Book a New Appointment</h1>
    <form action="/appointments" method="POST">
      <label for="doctor_id">Select Doctor:</label>
      <select name="doctor_id" id="doctor_id" required>
        <% doctors.forEach(doctor => { %>
        <option value="<%= doctor._id %>"><%= doctor.profile.fullName %></option>
        <% }) %>
      </select>

      <label for="availabilityId">Select Date & Slot:</label>
      <select name="availabilityId" id="availabilityId" required>
        <% availabilities.forEach(slot => { %>
        <option value="<%= slot._id %>"><%= slot.date.toDateString() %> - <%= slot.openingTime %> to <%= slot.closingTime %></option>
        <% }) %>
      </select>

      <label for="slotTime">Select Time Slot:</label>
      <select name="slotTime" id="slotTime" required>
        <% availableSlots.forEach(time => { %>
        <option value="<%= time %>"><%= time %></option>
        <% }) %>
      </select>

      <button type="submit" class="button-primary">Book Appointment</button>
    </form>
  </main>
</body>

</html>
